@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

div[data-rk] {
  flex: 1;
}

@layer base {
  :root {
    --input: 40 100% 80%;
    --ring: 40 100% 80%;
    --foreground: 26 100% 6%;
    --background: 40 100% 93%;
    --primary: 40 100% 80%;
    --border: 40 100% 80%;
    --primary-foreground: 26 100% 6%;
    --destructive: 0 100% 63%;
    --destructive-foreground: 0 100% 63%;
    --accent: 154 100% 15%;
    --accent-foreground: 154 100% 15%;
    --highlight: 154 100% 15%;
    --info: 30 2% 67%;
    --success: 151 100% 21%;
    --warning: 0 100% 63%;
    --radius: 30px;
  }

  * {
    @apply border-border;
  }
  body {
    /* font-feature-settings: "rlig" 1, "calt" 1); */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}
