@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

div[data-rk] {
  flex: 1;
}

@layer base {
  :root {
    --input: 40 100% 80%;
    --ring: 40 100% 80%;
    --foreground: 26 100% 6%;
    --background: 40 100% 93%;
    --primary: 40 100% 80%;
    --border: 40 100% 80%;
    --primary-foreground: 26 100% 6%;
    --destructive: 0 100% 63%;
    --destructive-foreground: 0 100% 63%;
    --destructive-light: 334 100% 84%;
    --accent: 40 100% 80%;
    --accent-foreground: 19, 100%, 6%;
    --highlight: 154 100% 15%;
    --info: 30 2% 67%;
    --success: 151 100% 21%;
    --warning: 0 100% 63%;
    --radius: 30px;
  }

  * {
    @apply border-border;
  }
  body {
    /* font-feature-settings: "rlig" 1, "calt" 1); */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
  .top-sandwich-background {
  background-image: url('/assets/top_sandwich.svg');
  background-repeat: repeat-x; 
  background-size: auto 100%; 
  width: 100%;
  }
  .bottom-sandwich-background {
  background-image: url('/assets/bottom_sandwich.svg');
  background-repeat: repeat-x; 
  background-size: auto 100%; 
  width: 100%;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .slide-down {
    animation: slideDown 0.5s ease-out forwards;
  }

  /* Slide Up */
  @keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .slide-up {
    animation: slideUp  0.5s ease-out forwards;
  }

  
}


